[submodule "cxxopts"]
	path = cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "unordered_dense"]
	path = unordered_dense
	url = https://github.com/martinus/unordered_dense
[submodule "scip"]
	path = scip
	url = https://github.com/scipopt/scip
[submodule "soplex"]
	path = soplex
	url = https://github.com/scipopt/soplex
